<body style="background-color: #e5e5e5;">
  <div class="greeting">
    <h1>Welcome, {{user.dataValues.name}}</h1>
  </div>

  <div id="card-container">
    {{#each inquiries}}
      <a
        href="/inquiry/{{this.dataValues.id}}"
        class="card"
        id="card"
        style="border-radius: 7px;"
      >
        <h3>{{this.dataValues.name}}</h3>
        <p>{{this.dataValues.email}}</p>
        {{!-- <p class="messageBox">{{this.dataValues.message}}</p> --}}
      </a>
    {{/each}}
  </div>

  <div class="user-options">
    <h3
      style="border-bottom: 1px solid; width: 200px; text-align: center;"
    >Admin Options</h3>
    <a href="#">Update User Info</a>
    <a href="#">Add Admin</a>
    <a href="#">Change Password</a>
  </div>
</body>