<body style="background-color: #e5e5e5;">
  <div class="greeting">
    <h1>Welcome, {{user.dataValues.name}}</h1>
  </div>

  <div id="card-container">
    {{#each inquiries}}
      <a
        href="/inquiry/{{this.dataValues.id}}"
        class="card"
        style="border-radius: 7px;"
      >
        <h3>{{this.dataValues.name}}</h3>
        <p>{{this.dataValues.email}}</p>
        <p class="messageBox">{{this.dataValues.message}}</p>
      </a>
    {{/each}}
  </div>
</body>