<html>

  <body style="background-color: #e5e5e5;">

    <div class="intro-section">
      <h1 class="heading">About Me</h1>
      <div class="inner">
        <div>
          <p class="intro">
            Welcome to my web design portfolio! My name is Martin Lynch, and I
            am a skilled web designer with seven years of experience in the
            industry. Before transitioning to web design, I served as an
            airborne military police officer in the army. My time in the
            military taught me valuable skills such as discipline, attention to
            detail, and problem-solving, which have proved to be invaluable in
            my web design career. I am proficient in several coding languages,
            including HTML, CSS, JavaScript, and more. Additionally, I hold a
            degree in Game Design and am currently pursuing a Full Stack
            Engineering Certificate from Northwestern University. My diverse
            skill set and passion for design enable me to create beautiful,
            functional, and user-friendly websites that meet my clients' needs.
            Please take a look at my portfolio to see examples of my work.
          </p>
          <a href="/resume/MartinResume-1.pdf" download>
            <button class="resumeBtn"><i class="fa-solid fa-cloud-arrow-down" style="color: #000000;"></i>Download Resume</button>
          </a>

        </div>

        <div style="margin: 0 auto;">
          <div class="port-card">
            <div class="port-img">
              <img
                src="https://github.com/mjlynch123/next-portfolio/blob/main/public/Images/thumbnail%20(1).jpg?raw=true"
                alt="Image"
              />
            </div>

            <div class="port-name-title">
              <h4>Martin Lynch</h4>
              <p>Full Stack Engineer</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="project-header" id="projects">
      <h1>Projects</h1>
    </div>

    {{#if loggedIn}}
      <div id="grid-container">
        {{#each project}}
          <a
            href="/project/{{this.dataValues.id}}"
            class="project-cards"
            id="loggedinCards"
          >
            <div class="card-image">
              <img src="{{this.dataValues.image}}" alt="" />
            </div>
            <div class="card-content">
              <h2>{{this.dataValues.name}}</h2>
              <p style="font-size: 10px;">{{this.dataValues.languages}}</p>
            </div>
          </a>
        {{/each}}
      </div>
    {{else}}
      <div id="grid-container">
        {{#each project}}
          <div class="project-cards">
            <div class="card-image">
              <img src="{{this.dataValues.image}}" alt="" />
            </div>
            <div class="card-content">
              <h3>{{this.dataValues.name}}</h3>
              <p style="font-size: 10px;">{{this.dataValues.languages}}</p>
            </div>
            <div class="outer-link">
              <div class="links">
                <a
                  href="{{this.dataValues.github_link}}"
                  target="_blank"
                  class="link"
                >Github Repo</a>
                {{#if this.dataValues.live_url}}
                  <a
                    href="{{this.dataValues.live_url}}"
                    target="_blank"
                    class="link"
                  >Live URL</a>
                {{else}}
                  <a class="link" id="na">Not available</a>
                {{/if}}
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    {{/if}}

    <div class="bottom">
      <div class="email-me">
        <h3>Email Me</h3>
        <p>If you would rather email me, you can click the button below </p>
        <a href="mailto:mjlynchdevelopment@gmail.com">Email Me!</a>
      </div>
      <div class="form-container" id="contact">
        <form action="/inquiry" method="POST">
          <div class="form-group" style="background-color: #fff;">
            <input
              type="text"
              id="name"
              name="name"
              placeholder="Name"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="email"
              id="emailAddress"
              name="email"
              placeholder="Email"
              required
            />
          </div>
          <div class="form-group">
            <textarea
              id="message"
              name="message"
              placeholder="Enter your message here. Please be as detailed as you can."
              required
            ></textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="submitBtn">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </body>

</html>